html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: (20 / 14);
  color: map-get($colors, 'text');
  @include fontSize(14);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {

}
img {
  vertical-align: top;
}
